<p class="text-muted">Commande n°<%= %></p>

<h1>Bonjour <%= @user.first_name %>, merci pour votre achat !</h1>

<p>Nous préparons l'envoi de votre commande. Nous vous informerons lorsque celle-ci aura été envoyée.</p>

<p>Résumé de la commande :</p>