<div class="d-flex">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-11 col-xs-11 my-5 pl-5">
      <img src="https://www.popfixion.fr/upload/news/unes/20150301_034854Felix_thewonderful_cat.jpg" class="img-fluid" width="100%" height="50vw">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-11 col-xs-11 my-5">
      <h5 class="my-2 text-muted">Nom du Vendeur</h5>
      <h2><%= @product.title %></h2>

      <h1><strong><%= @product.price %></strong></h1>

      <p><%= @product.description %></p>

      <br>
      <%= link_to  "Ajouter au panier", line_items_path(product_id: @product.id), method: :post, class:"btn btn-secondary" %>
    </div>
  </div>
</div>
