    <!-- Call to action -->
    <ul class="pt-4 list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Inscris-toi gratuitement</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-secondary btn-rounded" style="color:white">ici !</a>
      </li>
    </ul>
    <!-- Call to action -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#" style="color:black; size: 2em"> Catfoto'shop</a>
  </div>
  <!-- Copyright -->
